<div class="text-center row">
    <p class="fw-light text-black-50">CLIENTS WE WORKED WITH</p>
    <div class="">
        <img class="mx-3" src='../../public/assets/tnw.png' width="200" height="75"/>
        <img class="mx-3" src='../../public/assets/google.webp' width="200" height="130"/>
        <img  class="mx-3" src='../../public/assets/nike.png' width="150" height="120"/>
        <img class="mx-3" src='../../public/assets/airbnb.png' width="200" height="70"/>
        <img class="mx-3" src='../../public/assets/itnews.png' width="250" height="60"/>
    </div>
</div>