---
import Twitter from "../Icons/twitter.astro";
import Basketball from "../Icons/basketball.astro";
import Fb from "../Icons/fb.astro";
import Ig from "../Icons/ig.astro";

---  

<footer class="bg container row"> 
    <div class="col-md-6">
        <a class="text-white text-decoration-none">compleet labs</a>
        <p class="text-white-50 mt-3">Mis contactos son <a class="text-white text-decoration-none" target="_blank" href="https://www.linkedin.com/in/tomas-silvente-a4b1951b2/">LinkedIn</a>, mi <a class="text-white text-decoration-none" href="mailto:silventetomas@gmail.com" target="_blank">Email: silventetomas@gmail.com</a> Y también mi portfolio es <a class="text-white text-decoration-none" href="https://www.tomas-silente.netlify.app" target="_blank">éste</a>
        </p>
        <div class="">
            <Twitter class="" width="20"/>
            <Basketball width="20"/>
            <Fb width="20"/>
            <Ig width="20"/>
        </div>
    </div>
    <div class="col-1 "></div>
    <div class="col-md-1 col-3 mt-4">
        <a  class="text-white text-decoration-none">SITEMAP</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">Home</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">Technology</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">Services</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">About</a>
    </div>
    <div class="col-1 "></div>
    <div class="col-md-1 col-3 mt-4">
        <a class="text-white text-decoration-none">CASE STUDIES</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">Swiss Airlines</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">Google</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">Apple</a>
        <a href="#" class="text-white-50 mt-2 text-decoration-none">Nike</a>
    </div>
    <div  class="col-1"></div>
    <div  class="col-md-1 col-2 mt-4">
        <a  class="text-white text-decoration-none">CONTACT</a>
        <a href="#" class="text-white-50 text-decoration-none">Jobs</a>
        <a href="#" class="text-white-50 bot text-decoration-none">Hire us</a>
    </div>
</footer>
<style>
    .bg{
        padding-top: 150px;
        padding-inline: 8%;
        background-color: rgba(40,51,69,255);
        padding-bottom: 30px;
    }
    .bot{
        margin-bottom: 80%
    }
</style>