<!-- <nav class="navbar navbar-expand-lg dropdown">
    <div class="container w-75 ">
      <a class="navbar-brand text-light w-25 ">compleet labs</a>
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        
      </button>
      <div class="align-items-end text-end col-7 dropdown-menu ">
        <a class="text-white-50 text-decoration-none  dropdown-item">Home</a>
        <a class="text-white-50 text-decoration-none dropdown-item">Services</a>
        <a class="text-white-50 text-decoration-none dropdown-item">Technology</a>
        <a class="text-white-50 text-decoration-none dropdown-item">Case studies</a>
        <a class="text-white-50 text-decoration-none dropdown-item">About</a>
        <a class="text-light text-decoration-none dropdown-item">Hire Us</a>
      </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-xl ">
    <div class="container w-75">
      <a class="navbar-brand text-white w-50" href="#">compleet labs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link text-white active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white-50" href="#">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white-50" href="#">Technology</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white-50" href="#">Case studies</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white-50" href="#">About</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="#">Hire us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>