---
import ArrowRight from "../Icons/arrowRight.astro";
---
<div class="lg-container row">
    <div class="col-md-6  text-center">
        <div class="container">
            <h1 class="text-white">We build beautiful and reliable web solutions</h1>
            <p class="text-white-50">We strongly believe that communication, trust and transparency are the essential elements of successful business relationship.
                Ready for the journey?</p>
            <button class="btn btn-outline-secondary mt-2">Learn more</button>
            <button class="mx-lg-3 btn btn-primary rounded-sm mt-2">Our Projects <ArrowRight /></button>
        </div> 
    </div>
</div>
