---
import ServicesCard from "./ServicesCard.astro";
---

<div class="container text-center w-75 mt-5 mt-md-0">
    <div class="w-75 mx-auto">
        <h3 class="text-white fs-3 ">Our Services</h3>
        <p class="text-white-50 fs-6 mx-md-5 fw-semibold">We feel very strong about our skills when it comes to planning, designing
            and coding applications. Here is what we love to do!
        </p>
    </div>
    <div class="row position-absolute relative">
        <div class="col-4  ">
            <ServicesCard 
            title="Bussiness & Product Concept" 
            body="Analyse business and product concepts at Start-up Workshops or Ongoing Projects' Audits and prepare a viable and sensible product roadmap for achieving a perfect market Tit"
            href="#"
            asset="assets/files.png"/>
        </div>
        <div class="col-4  ">
            <ServicesCard 
            title="Web & Mobile Development" 
            body="Plan, develop and test high-quality web-applications using AngularJS, NodeJS, JavaScript, Typescript, HTML5 and SASS/CSS3 frameworks and native mobile languages."
            href="#"
            asset="assets/devices-pc.png"/>
        </div>
        <div class="col-4  ">
            <ServicesCard 
            title="UX & Ul Design" 
            body="Sketch intormation architecture andi simple mock-ups, convert them into clickable prototypes and finish with usable interface designs to deliver a good and rellable user experience"
            href="#"
            asset="assets/file-pencil.png"/>
        </div>
</div>
<style>
    .relative{
        margin-top: 30px;
        width: 75%;
    }
    .service{
        height: 100px;
    }
</style>