---
import Angular from "../Icons/angular.astro";
import Css from "../Icons/css.astro";
import Sass from "../Icons/sass.astro";
import Html from "../Icons/html.astro";
import Python from "../Icons/python.astro";
import Js from "../Icons/js.astro";
---   
   
    <div class="container row">
        <div class="col-xl-7 col-12 mx-auto">
            <div class="container mt-5 text-center text-xl-start">
                <h2 class="text-white">We use cutting edge technology</h2>
                <p class="text-white-50 pt-2">Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel
                    augue laoreet rutrum faucibus dolor auctor.</p>            
            </div> 
        </div>
        <div class="col-xl-5 logos  mt-lg-0 row m-2 m-md-4 m-lg-0">
            <div class="col-4 col-lg-2 col-xl-6">
                <Html width={110} height={95}/>
            </div>
            <div class="col-4 col-lg-2 col-xl-6">
                <Css width={110} height={95}/>
            </div >
            <div class="col-4 col-lg-2 col-xl-6">
                <Sass width={110} height={95}/>
            </div >
            <div class="col-4 col-lg-2 col-xl-6">
                <Js width={110} height={95}/>
            </div>
            <div class="col-4 col-lg-2 col-xl-6">
                <Angular width={110} height={95}/>
            </div>
            <div class="col-4 col-lg-2 col-xl-6">
                <Python width={110} height={95}/>
            </div>
        </div>
    </div>
    <style>
        
    </style>
