---
import TouchCard from "./touchCard.astro";
---
<div class="container">
    <div class="row relative position-absolute mx-auto">
        <div class="col-xl-5 col-4 mx-5 ">
            <TouchCard title="Get in touch with us" body="Maecenas sed diam eget risus varius blandit sit amet non magna." button="Hire us" href="#" asset=""/>
        </div>
        <div class="col-xl-5 col-4 mx-2 mx-md-5 mx-xl-0">
            <TouchCard title="Our Projects" body="Maecenas sed diam eget risus varius blandit sit amet non magna." button="See Projects" href="#" asset="../../public/assets/iphone.png"/>
        </div>
    </div>
</div>
<style>
    .relative{   
        margin-top: 110px;
    }
</style>